body{
    background-image: linear-gradient(rgb(247, 147, 144), rgb(190, 243, 247),rgb(204, 157, 245));
   overflow-x: hidden;
}
header{
    display: flex;
    background-color: rgb(24, 15, 23);
    height: 100px;
    width: 100%;
    margin: 10px;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    color: rgb(209, 209, 250);
    font-size: medium;
    text-decoration: none;
    font-size: larger;
    border: 20px salmon;
    border-radius: 10%;
}
nav{
    margin-left: 10px ;
}
#About{
    text-align: center;
}
.grid{
    
    display: grid;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
}
.m{
    border-radius: 10%;
    margin: 10px;
}
 #Products h2{
    text-align: center;
    
}
.row{
    display: flex;
    margin-left: 10px;
    
    
  }
  img{
    box-shadow: 10px 10px 5px #9e72e6;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #b483fd;
      -khtml-box-shadow: 10px 10px 5px #ccc;
  }
  
  /* Create three equal columns that sits next to each other */
  .column:hover {
    flex: 33.33%;
    padding: 30px;
    
  }
  #move{
    width: 100%;
    height: 600px;
    background-color: rgb(216, 187, 250);
    overflow: auto auto;
    white-space: nowrap;
  }
  #move .slide{
    display: inline-block;
    
    flex:nowrap;
  }
  
    
  
#explorenow{
text-align: center;
font-size: large;
  }

  .btn{
    border: 30px solid rgb(69, 146, 160);
    background-image: linear-gradient(rgb(245, 179, 48) ,rgb(121, 207, 121));
   
    
  }
  .grid1{
    
    display: grid;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    padding-left: 10px;
}
.c{
    border-radius: 10%;
    margin: 10px;
    
}
  footer{
    
    text-align: center;
    background-color: darkslategrey;
    color: #f4ecec;
    padding: 10px;
    margin-top: 20px;
  }
  * {
    box-sizing: border-box;
  }
  
  #Reviews{
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
   
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: rgb(252, 253, 254);
    
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
    
